body {
  font-family: 'Montserrat';
  margin: 0;
}

@media (max-width: 449px) {
  /*ГЛАВНАЯ СТРАНИЦА*/

  .main-page {
    background-image: url("img/pete-bellis-432867-unsplash-full.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    background-color: #fff;
    height: 69px;
  }

  .header__nav {
    background: #fff;
    display: inline-block;
    float: right;
  }

  .header__title {
    display: inline-block;
    padding-left: 26px;
    float: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 69px;
    letter-spacing: 0.07em;
    margin: 0;
  }

  .main-page__selector, .main-page__icons, .main-page__main-img_small,
  .main-page__subblock, .main-page__btn-scroll_inner {
    display: none;
  }

  .header__nav-burger {
    width: 70px;
    height: 69px;
    left: calc(100vh - 69px);
    background: #EDEDED;
  }

  .header__nav-box {
    padding: 31px 21px;
  }

  .header__nav-item {
    background: #000;
    display: block;
    height: 3px;
    width: 28px;
  }

  .header__nav-item:first-of-type {
    margin-bottom: 5px;
  }

  .main-page__main-title {
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54vh;
    width: 85%;
  }

  .main-page__btn-scroll {
    background: transparent;
    width: 25px;
    height: 25px;
    margin-left: 50%;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .page__btn_quantity, .clutch-page__img_back, .clutch-page__other-offers,
  footer {
    display: none;
  }

  /*СТРАНИЦА С КЛАТЧЕМ*/
  .clutch-page {
    width: 100%;
    height: 100vh;
    background: #FAE8E4;
  }

  .clutch-page__img_front {
    margin: auto 20%;
    margin-top: -54px;
    width: 60%
  }

  .clutch-page__center-block {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: inline-block;
    margin: auto 7.5%;
    max-width: 85%;
  }

  .clutch-page__main-block {
    padding: 28px 24px 0 24px;
  }

  .page__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 5.5vw;
    line-height: 20px;
    margin: auto;
  }

  .clutch-page__subtitle {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .page__text_half-opacity {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    margin-bottom: 12px;
    opacity: 0.5;
  }

  .clutch-page__circles-and-cost {
    margin-bottom: 25px;
    position: relative;
  }

  .page__circle {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 6px;
    width: 23px;
  }

  .page__circle_grey {
    background-color: #DEDEDE;
  }

  .page__circle_pink {
    background-color: #F29F9F;
  }

  .page__circle_blue {
    background-color: #A8BFF9;
  }

  .page__circle_green {
    background-color: #90BD8F;
  }

  .clutch-page__cost {
    display: inline-block;
    margin: auto;
    position: absolute;
    right: 0;
  }

  .page__btn {
    background: transparent;
    border: 1.5px solid #000;
    box-sizing: border-box;
    height: 36px;
  }

  .page__btn_add {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 30px;
    padding: 0 10%;
    text-transform: uppercase;
    width: -webkit-fill-available;
  }

  /*СТРАНИЦА С ОДЕЖДОЙ*/
  .clothes-page {
    width: 100%;
    height: 100vh;
    background: #EBE3D8;
  }

  .clothes-page__rectangle {
    background-color: #000;
    display: inline-block;
    height: 100vh;
    margin-left: 102px;
    width: 41px;
  }

  .clothes-page__img {
    margin-left: -34%;
    margin-top: 6vh;
    position: absolute;
    width: 92%;
  }

  .clothes-page__center-block {
    display: inline-block;
    position: absolute;
  }

  .clothes-page__main-block {
    background-color: #FAE8E4;
    margin-left: -99px;
    margin-top: 70vw;
    padding: 28px 24px 0 24px;
    width: 100%;
    z-index: 2;
  }

  .clothes-page__subtitle {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .clothes-page__other-offers {
    color: #000;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .page__other-offers-block {
    margin: 7vh 0 0 8%;
  }

  .page__arrows {
    background-image: url("img/Vector1.png");
    background-repeat: no-repeat;
    height: 12px;
    margin-left: 10px;
    width: 44px
  }
}

@media (max-width: 321px) {
  .clothes-page__img {
    margin-left: -45%;
  }
}

@media (min-width: 450px) {

  .main-page__side-panel {
    background-color: #000;
    height: 900px;
    position: absolute;
    top: 0;
    width: 461px;
    z-index: -1;
  }

  .header {
    height: 92px;
    margin-bottom: 77px;
  }

  .header__title {
    color: #fff;
    display: inline-block;
    font-size: 5.5vw;
    font-weight: 500;
    letter-spacing: 0.07em;
    padding: 16px 52px;
  }

  .header__nav {
    display: inline-block;
    float: right;
  }

  .main-page__selector {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    height: 25px;
    margin: 43px 16px;
  }

  .header__nav-burger {
    background: #E5E5E5;
    height: 92px;
    width: 92px;
  }

  .header__nav-box {
    padding: 40px 28px;
  }

  .header__nav-item {
    background: #000;
    display: block;
    height: 3px;
    width: 34px;
  }

  .header__nav-item:first-of-type {
    margin-bottom: 6px;
  }

  .main-page {
    height: calc(900px - (92px + 77px));
    width: 100%;
  }

  .main-page__icons {
    padding-left: 52px;
    padding-top: 816px;
  }

  .main-page__icon {
    margin-right: 8px;
  }

  .main-page__center-block {
    margin-bottom: 145px;
  }

  .main-page__main-img_large {
    display: none;
  }

  .main-page__main-block {
    display: flow-root;
    padding: 9px;
    padding-top: 5%;
    width: 35%;
  }

  .page__text {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 39px;
    padding-left: 3px;
  }

  .page__btn {
    background: transparent;
    border: 1.5px solid #000;
    box-sizing: border-box;
    height: 44px;
  }

  .main-page__btn_read-more {
    border-radius: 0;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    margin-right: 1%;
    max-width: 203px;
    text-transform: uppercase;
    width: 70%;
  }

  .page__other-offers {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: text-top;
  }

  .page__arrows {
    background-image: url("img/Vector1.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    width: 44px
  }

  .main-page__btn-scroll_outer {
    background-color: #fff;
    border-radius: 15px;
    display: block;
    height: 46px;
    margin-left: 50%;
    position: absolute;
    top: 810px;
    width: 27px;
  }

  .main-page__btn-scroll_inner {
    background: #000;
    bottom: 8px;
    display: block;
    height: 8.21px;
    margin: 0 auto auto auto;
    position: relative;
    width: 2.45px;
  }

  /*СТРАНИЦА С КЛАТЧЕМ*/
  .clutch-page {
    background: #FAE8E4;
    height: 900px;
    width: 100%;
  }

  .clutch-page__img {
    display: inline-block;
    float: left;
  }

  .clutch-page__center-block {
    display: flow-root;
  }

  .page__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    margin: auto;
  }

  .page__subtitle {
    color: #888;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .clutch-page__subtitle {
    margin-bottom: 60px;
  }

  .page__text_half-opacity {
    color: #888;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    max-width: 368px;
  }

  .page__circle {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: 12px;
    width: 30px;
  }

  .page__circle_grey {
    background-color: #DEDEDE;
  }

  .page__circle_pink {
    background-color: #F29F9F;
  }

  .page__circle_blue {
    background-color: #A8BFF9;
  }

  .page__circle_green {
    background-color: #90BD8F;
    margin-right: 63px;
  }

  .clutch-page__cost {
    display: inline-block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    margin: auto;
    margin-bottom: 52px;
  }

  .page__btn_quantity {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    width: 100px;
  }

  .page__btn_minus, .page__btn_plus {
    background: transparent;
    border: none;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .page__quantity_sum {
    background: transparent;
    border: none;
    text-align: center;
    width: 25px;
  }

  .page__btn_add {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 44px;
    padding: 0 10%;
    text-transform: uppercase;
  }

  .clutch-page__other-offers {
    color: black;
    display: inline-block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  /*СТРАНИЦА С ОДЕЖДОЙ*/
  .clothes-page {
    background: #EBE3D8;
    height: 900px;
    width: 100%;
  }

  .clothes-page__rectangle {
    display: none;
  }

  .clothes-page__center-block {
    display: flow-root;
  }

  .clothes-page__subtitle {
    margin-bottom: 35px;
  }

  .footer__container {
    height: 240px;
    position: relative;
  }

  .footer {
    bottom: 5px;
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    right: 40px;
    width: fit-content;
  }

  .footer__webhero_yellow {
    color: yellow;
    text-align: right;
  }

  .footer__school_regular {
    display: block;
    font-weight: 500;
    text-align: right;
  }

  /*ГЛАВНАЯ СТРАНИЦА*/
  .main-page__main-img_small {
    display: inline-block;
    float: left;
    margin-right: 3%;
    padding-left: 5%;
    width: calc(200px + 25%);
  }

  .main-page__main-title {
    font-size: 5.5vw;
    line-height: normal;
    margin: 0 0 17px 4px;
    width: auto;
  }

  .main-page__center-block {
    margin-bottom: 6%;
  }

  /*СТРАНИЦА С КЛАТЧЕМ*/

  .clutch-page__images {
    display: inline-block;
    float: left;
    margin-right: 4%;
    position: relative;
  }

  .clutch-page__img_back {
    padding-left: 10%;
    padding-top: 217px;
    position: absolute;
    width: 25%;
  }

  .clutch-page__img_front {
    padding-left: 15%;
    padding-top: 28px;
    position: relative;
    width: 40%;
    z-index: 1;
  }

  .clutch-page__main-block {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: inline-block;
    max-width: 488px;
    margin-bottom: 39px;
    padding: 55px 65px 15px 52px;
    margin-top: 12%;
    width: 25%;
  }

  .clutch-page__arrows {
    background-image: url("img/Vector2.png");
    background-repeat: no-repeat;
    height: 12px;
    margin-left: 10px;
    width: 243px;
  }

  /*СТРАНИЦА С ОДЕЖДОЙ*/
  .clothes-page__img {
    float: left;
    margin-left: -375px;
    margin-top: 140px;
    width: 58%;
    z-index: 1;
  }

  .clothes-page__main-block {
    background: #FAE8E4;
    display: inline-block;
    margin-bottom: 40px;
    margin-left: -95px;
    margin-top: 30%;
    padding: 34px 53px 0 47px;
    width: 26.5%;
    z-index: 2;
  }

  .clothes-page__other-offers {
    width: 30%;
  }

  .clothes-page__arrows {
    background-image: url("img/Vector3.png");
    background-repeat: no-repeat;
    height: 12px;
    margin-left: 10px;
    width: 110px;
  }
}

@media (max-width: 850px) {
  .main-page__side-panel {
    width: calc(200px + 32%);
  }
}

@media (max-width: 680px) {
  .main-page__side-panel {
    width: 60%;
  }

  .main-page__main-img_small {
    width: 53%;
  }
}

@media (min-width: 450px) {

  .main-page__btn_read-more {
    margin-bottom: 20px;
  }

  .clutch-page__images {
    float: none;
    margin-right: auto;
  }

  .clutch-page__img_back {
    padding-left: 10%;
    padding-top: 12%;
    position: inherit;
    width: 30%;
  }

  .clutch-page__img_front {
    padding-left: 12%;
    padding-top: 0;
    width: 30%;
  }

  .clutch-page__center-block {
    display: block;
    padding: 15px;
  }

  .clutch-page__main-block {
    display: block;
    margin-bottom: 20px;
    margin-top: auto;
    max-width: none;
    padding: 40px 30px 0 30px;
    width: auto;
  }

  .page__text {
    margin-bottom: 20px;
  }

  .page__text_half-opacity {
    max-width: none;
  }

  .clutch-page__subtitle {
    margin-bottom: 20px;
  }

  .clutch-page__cost {
    margin-bottom: 20px;
  }

  .page__btn_add {
    margin-bottom: 20px;
  }

  .clothes-page__img {
    margin-left: 3%;
    margin-top: 14vh;
    width: 50%;
  }

  .clothes-page__main-block {
    margin-left: auto;
    padding: 20px;
    width: 80%;
  }

  .page__btn_quantity {
    margin-bottom: 10px;
  }

  .page__other-offers-block {
    margin-left: 20px;
  }

  .clothes-page__other-offers {
    width: 25%;
  }
}

@media (min-width: 961px) {


  .clutch-page__main-block {
    margin-top: -4vh;
  }

  .clutch-page__other-offers {
    display: none;
  }

  .clothes-page__rectangle {
    background-color: #000;
    display: block;
    float: left;
    height: 900px;
    margin-left: 388px;
    width: 73px;
    z-index: 1;
  }

  .clothes-page__img {
    margin-left: -45%;
  }

  .clothes-page__other-offers {
    width: auto;
  }

  .footer__container {
    height: 25vh;
  }
}

@media (min-width: 1025px) {
  .clothes-page__img {
      margin-left: -35%;
  }
}

@media (min-width: 1370px) {

  .header__title {
      font-size: 30px;
  }

  .main-page__main-img_small {
    display: inline-block;
    float: left;
    margin-right: 43px;
    padding-left: 180px;
    max-width: 500px;
  }

  .main-page__main-title {
    font-size: 80px;
    line-height: 82px;
    max-width: 475px;
  }

  .main-page__center-block {
    margin-bottom: 145px;
  }

  .main-page__main-block {
    padding-top: 102px;
  }

  .clutch-page__images {
    display: inline-block;
    float: left;
    margin-right: 66px;
    position: relative;
  }

  .clutch-page__img {
    display: inline-block;
    float: left;
  }

  .clutch-page__img_back {
    max-width: 398px;
    padding-left: 137px;
    padding-top: 217px;
    position: absolute;
    width: 100%;
  }

  .clutch-page__img_front {
    max-width: 582px;
    padding-left: 231px;
    padding-top: 28px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .clutch-page__center-block {
    display: flow-root;
  }

  .clutch-page__main-block {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: inline-block;
    max-width: 488px;
    margin-bottom: 39px;
    margin-top: 166px;
    padding: 55px 65px 15px 52px;
  }

  .page__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    margin: auto;
  }

  .clutch-page__arrows {
    background-image: url("img/Vector2.png");
    background-repeat: no-repeat;
    height: 12px;
    margin-left: 10px;
    max-width: 243px;
  }

  .clothes-page__img {
    margin-left: -400px;
    max-width: 646px;
  }

  .clothes-page__main-block {
    margin-top: 230px;
    width: 475px;
  }

  .clothes-page__other-offers {

  }

  .clothes-page__arrows {
    background-image: url("img/Vector3.png");
    background-repeat: no-repeat;
    height: 12px;
    margin-left: 10px;
  }
}
